
/*footer.css*/

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40; 
    color: white; 
    height: 70px;
  
  }
  
  .social-links {
    color: #ebd9d9; 
    transition: color 0.3s; 
    font-size: 24px;
    padding: 20px;
  }
  
  .social-links a {
    color: inherit; 
    text-decoration: none; 
  }
  
  .social-links a:hover {
    color: #ff00406c; 
  }
  