/*Header.css*/
.drop-menu2 {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(43, 36, 36);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 10px 30px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.drop-menu2 .dropdown-item {
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

.drop-menu2 .dropdown-item:hover {

    background: linear-gradient(90deg, #ca6262 0%, #b68888 100%);
}

.header-heading {
    transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease;
    color: white;
}

.header-heading:hover {
    transform: scale(0.9);
  
color:  #b68888 !important; 
}
